[Unit]
Description=area
After=network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/opt/area
ExecStart=/bin/area server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
